APP_HTTP_ADDR=8080

# PostgreSQL
APP_DB_DSN=postgres://postgres:postgres@localhost:5432/delayed_notifier?sslmode=disable
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASS=postgres
POSTGRES_DB=delayed_notifier

# RabbitMQ
APP_RABBIT_URL=amqp://guest:guest@127.0.0.1:5672/
APP_RABBIT_QUEUE=notifications

# Redis
APP_REDIS_ADDR=127.0.0.1:6379
APP_REDIS_PASSWORD=
APP_REDIS_DB=0

# Retry settings
APP_BASE_RETRY_DELAY=1m
APP_MAX_RETRY=5

# Notification senders
# Email
APP_SMTP_HOST=
APP_SMTP_PORT=587
APP_SMTP_USER=                      # Sender email
APP_SMTP_PASSWORD=                  # Sender 16-digit SMTP-password
APP_EMAIL_DEFAULT_RECIPIENT=        # Default recipient's email
# Telegram
APP_TELEGRAM_TOKEN=                 # Bot token from @BotFather (leave empty to skip real telegram)
APP_TELEGRAM_DEFAULT_RECIPIENT=     # Telegram ID from @myidbot (leave empty to skip real telegram)

